<connectionStrings>
  <add name="ToDoEntities" connectionString="metadata=res://*/ToDoModel.csdl|res://*/ToDoModel.ssdl|res://*/ToDoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL5074.site4now.net;Initial Catalog=db_a81d75_todoapi;User Id=db_a81d75_todoapi_admin;Password=Sm4rt3rP@ss&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>